{
  "presets": [
    "react",
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "syntax-decorators",
    "syntax-class-properties",
    "syntax-object-rest-spread"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
